<footer class="wrap site-footer clearfix">
    <div class="left">
            <a href="#"><img src="/assets/images/logos/cfp-logo_sm.png" alt="Certified Financial Planner - CFP in Loveland, CO"></a>
            <a href="#"><img src="/assets/images/logos/fpa-logo_sm.png" alt="Financial Planning Association - FPA in Loveland, CO"></a>
    </div>

    <div class="right">
        <div class="top">
             {% include nav.html nav=site.data.bottom-menu %}
        </div>
        <div class="bottom">
            <p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
            <p>Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
        </div>
        </div>

    </div>

</footer>
