<footer class="wrap site-footer clearfix">
    <div class="left">
            <a href="#"><img src="/assets/images/logos/cfp-logo_sm.png" alt=""></a>
            <a href="#"><img src="/assets/images/logos/fpa-logo_sm.png" alt=""></a>
    </div>

    <div class="right">
    
        <div class="bottom">
            <p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
            <p>Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
        </div>
        </div>

    </div>

</footer>
