
<form action="#" method="post" class="contact-form">
  <input type="hidden" name="_to" value="team@variantstudios.com">
  <input type="hidden" name="_subject" value="Risk Tolerance Questionnaire Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>
    <div class="webform-component">
        <label for="When_do_you_expect_to_begin_withdrawing_money_from_your_account?">When do you expect to begin withdrawing money from your account?</label>
        <textarea name="When_do_you_expect_to_begin_withdrawing_money_from_your_account?" rows="6"></textarea>
    </div>
    <div class="webform-component">
        <label for="Once_you_begin_withdrawing_money_from_your_retirement_funds,_how_long_do_you_anticipate_the_money_lasting?">Once you begin withdrawing money from your retirement funds, how long do you anticipate the money lasting?</label>
        <textarea name="Once_you_begin_withdrawing_money_from_your_retirement_funds,_how_long_do_you_anticipate_the_money_lasting?" rows="6"></textarea>
    </div>
    <div class="webform-component">
        <label for="Some investors are more willing to tolerate short-term losses in the value of their portfolio as a trade-off for potentially higher long-term gains. Which response best represents your attitude toward the following statement?">Some investors are more willing to tolerate short-term losses in the value of their portfolio as a trade-off for potentially higher long-term gains. Which response best represents your attitude toward the following statement?<br><br><i>“I am willing to stick with my investment plan despite experiencing significant short-term losses in the value of my account if it will increase the likelihood of achieving higher long-term investment gains.” </i></label>
        <textarea name="Some investors are more willing to tolerate short-term losses in the value of their portfolio as a trade-off for potentially higher long-term gains. Which response best represents your attitude toward the following statement?" rows="6"></textarea>
    </div>

    <div class="webform-component">
        <label for="Over time, inflation can have a significant negative impact on how much your money can buy. In order to maintain buying power, your investment returns must keep pace with inflation. This means that your money will be able to purchase the same basket of goods year after year, even though prices have increased. Generally, higher returns can only be achieved by accepting greater risk. Which of the following choices best reflects your attitude toward inflation and risk?">Over time, inflation can have a significant negative impact on how much your money can buy. In order to maintain buying power, your investment returns must keep pace with inflation. This means that your money will be able to purchase the same basket of goods year after year, even though prices have increased. Generally, higher returns can only be achieved by accepting greater risk. Which of the following choices best reflects your attitude toward inflation and risk?</label>
        <textarea name="Over time, inflation can have a significant negative impact on how much your money can buy. In order to maintain buying power, your investment returns must keep pace with inflation. This means that your money will be able to purchase the same basket of goods year after year, even though prices have increased. Generally, higher returns can only be achieved by accepting greater risk. Which of the following choices best reflects your attitude toward inflation and risk?" rows="6"></textarea>
    </div>
     

    <div class="webform-component">
        <label for="In a year when the U.S. stock market declines by more than 35% due to a crisis in our financial system (similar to 2008), how would you feel and act during this period?">In a year when the U.S. stock market declines by more than 35% due to a crisis in our financial system (similar to 2008), how would you feel and act during this period?</label>
        <textarea name="In a year when the U.S. stock market declines by more than 35% due to a crisis in our financial system (similar to 2008), how would you feel and act during this period?" rows="6"></textarea>
    </div>
 
    <div class="webform-component">
        <label for="Choose the amount of risk with which you are comfortable.">Choose the amount of risk with which you are comfortable. </label>
        <textarea name="Choose the amount of risk with which you are comfortable." rows="6"></textarea>
    </div>

    <div class="webform-component">
        <label for="Which statement best describes your investment philosophy?">Which statement best describes your investment philosophy?</label>
        <textarea name="Which statement best describes your investment philosophy?" rows="6"></textarea>
    </div>

    <div class="webform-component">
        <label for="Typically the reward for tolerating short-term losses is higher returns over the long-term. What is your main focus?">Typically the reward for tolerating short-term losses is higher returns over the long-term. What is your main focus?</label>
        <textarea name="Typically the reward for tolerating short-term losses is higher returns over the long-term. What is your main focus?" rows="6"></textarea>
    </div>

    <div class="webform-component">
        <label for="Imagine that you are a contestant on a game show. You are offered the choices listed below. Which one would you choose?">Imagine that you are a contestant on a game show. You are offered the choices listed below. Which one would you choose?</label>
        <textarea name="Imagine that you are a contestant on a game show. You are offered the choices listed below. Which one would you choose?" rows="6"></textarea>
    </div>

    <div class="webform-component">
        <label for=">When do you expect to retire?">When do you expect to retire?</label>
        <textarea name="When do you expect to retire?" rows="6"></textarea>
    </div>


    <div class="g-recaptcha" data-sitekey="6LeflBYUAAAAAPie2tdRNhffKKrk2qQC9LaR_u4F"></div><br>
    <input class="sendButton" type="submit" value="Send">
</form>
