
<form action="#" method="post" class="contact-form">
  <input type="hidden" name="_to" value="bjoyce@intelligentinvestingllc.com">
  <input type="hidden" name="_subject" value="Contact Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required="">
    </div>
    <div class="webform-component">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required="">
    </div>
    <div class="webform-component">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
    </div>
    <div class="webform-component">
        <label>Best Time to Contact</label>
        <div class="form-checkboxes">
            <div class="form-item" id="edit-submitted-time-to-contact-1-wrapper">
                <label class="option" for="edit-submitted-get-involved-1">
                    <input type="checkbox" name="morning" id="edit-time-to-contact-1" value="yes" class="form-checkbox">Morning</label>
            </div>
            <div class="form-item" id="edit-submitted-get-involved-2-wrapper">
                <label class="option" for="edit-submitted-get-involved-2">
                    <input type="checkbox" name="afternoon" id="edit-time-to-contact-2" value="yes" class="form-checkbox">Afternoon</label>
            </div>
            <div class="form-item" id="edit-submitted-get-involved-3-wrapper">
                <label class="option" for="edit-submitted-get-involved-3">
                    <input type="checkbox" name="evening" id="edit-time-to-contact-3" value="yes" class="form-checkbox">Evening</label>
            </div>
            <div class="form-item" id="edit-submitted-get-involved-4-wrapper">
                <label class="option" for="edit-submitted-get-involved-4">
                    <input type="checkbox" name="weekdays" id="edit-time-to-contact-4" value="yes" class="form-checkbox">Weekdays</label>
            </div>
            <div class="form-item" id="edit-submitted-get-involved-4-wrapper">
                <label class="option" for="edit-submitted-get-involved-4">
                    <input type="checkbox" name="weekend" id="edit-time-to-contact-4" value="yes" class="form-checkbox">Weekend</label>
            </div>
        </div>
        <div class="webform-component">
            <label for="message">Briefly Describe Reason for Consultation</label>
            <textarea id="message" name="message" rows="6"></textarea>
        </div>
    <div class="g-recaptcha" data-sitekey="6LeflBYUAAAAAPie2tdRNhffKKrk2qQC9LaR_u4F"></div><br>    
    <input class="sendButton" type="submit" name="Submit" value="Send">
</form>
