<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')</script>
{% if site.google_analytics_tracking_id %}
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
<script src="/assets/js/prod/scripts.js"></script>
{% if page.permalink == "/contact/" %}
<script src="https://www.google.com/recaptcha/api.js?render=SITE_ID"></script>
<script>
    var submitted = false;
    var tokenCreated = false;
    var formEl = document.getElementById('form');

    formEl.addEventListener("submit", function (event) {

        // Check if the recaptcha exists
        if (!tokenCreated) {

            // Prevent submission
            event.preventDefault();

            // Prevent more than one submission
            if (!submitted) {
                submitted = true;
                // needs for recaptacha ready
                grecaptcha.ready(function() {
                    // do request for recaptcha token
                    // response is promise with passed token
                    grecaptcha.execute('SITE_ID', {action: 'create_comment'}).then(function (token) {
                        // add token to form
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = "g-recaptcha-response";
                        input.value = token;
                        formEl.appendChild(input);

                        // resubmit the form
                        tokenCreated = true;
                        formEl.submit();
                    });;
                });
            }
        }
  });
</script>
{%elsif page.permalink == "/schedule-a-meeting/" %}
<script src="https://www.google.com/recaptcha/api.js?render=SITE_ID"></script>
<script>
    var submitted = false;
    var tokenCreated = false;
    var formEl = document.getElementById('form');

    formEl.addEventListener("submit", function (event) {

        // Check if the recaptcha exists
        if (!tokenCreated) {

            // Prevent submission
            event.preventDefault();

            // Prevent more than one submission
            if (!submitted) {
                submitted = true;
                // needs for recaptacha ready
                grecaptcha.ready(function() {
                    // do request for recaptcha token
                    // response is promise with passed token
                    grecaptcha.execute('SITE_ID', {action: 'create_comment'}).then(function (token) {
                        // add token to form
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = "g-recaptcha-response";
                        input.value = token;
                        formEl.appendChild(input);

                        // resubmit the form
                        tokenCreated = true;
                        formEl.submit();
                    });;
                });
            }
        }
  });
</script>
{%elsif page.permalink == "/risk-tolerance-questionnaire/" %}
<script src="https://www.google.com/recaptcha/api.js?render=SITE_ID"></script>
<script>
    var submitted = false;
    var tokenCreated = false;
    var formEl = document.getElementById('form');

    formEl.addEventListener("submit", function (event) {

        // Check if the recaptcha exists
        if (!tokenCreated) {

            // Prevent submission
            event.preventDefault();

            // Prevent more than one submission
            if (!submitted) {
                submitted = true;
                // needs for recaptacha ready
                grecaptcha.ready(function() {
                    // do request for recaptcha token
                    // response is promise with passed token
                    grecaptcha.execute('SITE_ID', {action: 'create_comment'}).then(function (token) {
                        // add token to form
                        var input = document.createElement("input");
                        input.type = "hidden";
                        input.name = "g-recaptcha-response";
                        input.value = token;
                        formEl.appendChild(input);

                        // resubmit the form
                        tokenCreated = true;
                        formEl.submit();
                    });;
                });
            }
        }
  });
</script>
{%elsif page.permalink == "/faq/" %}
<script src='/assets/js/prod/toggle.js'></script>
{% endif %}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1958678747483536');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1958678747483536&ev=PageView&noscript=1"
/></noscript>

<!-- Lucky Orange Code -->
<script type='text/javascript'>
window.__lo_site_id = 100749;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>