footer.site-footer {
    padding: 2em 0;
    font-family: $heading-font-family;
    a {
        text-decoration: none;
    }
    .left {
        text-align: left;
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
          @include grid-span(6,1);
        }
    }
    .right {
        @include breakpoint($bp-medium, $no-query: ".no-mq") {
          @include grid-span(6,7);
          text-align: right;
        }
    }
}
