/* validation Colors */
/* line 2, ../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 7, ../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/partials/styleguide/type/_base-type.scss */
html {
  font: normal 100%/1.65 "proxima-nova", serif;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

/* line 6, ../sass/partials/styleguide/type/_base-type.scss */
body {
  color: #3d3d3d;
}

/* line 10, ../sass/partials/styleguide/type/_base-type.scss */
p {
  margin: auto auto 1.5em;
}
/* line 14, ../sass/partials/styleguide/type/_base-type.scss */
p + p {
  margin-top: -0.5em;
}

/* line 1, ../sass/partials/styleguide/type/_headings.scss */
h1 {
  font-size: 2em;
}

/* line 2, ../sass/partials/styleguide/type/_headings.scss */
h2 {
  font-size: 1.8em;
}

/* line 3, ../sass/partials/styleguide/type/_headings.scss */
h3 {
  font-size: 1.4em;
}

/* line 4, ../sass/partials/styleguide/type/_headings.scss */
h4 {
  font-size: 1.3em;
}

/* line 5, ../sass/partials/styleguide/type/_headings.scss */
h5 {
  font-size: 1.2em;
}

/* line 6, ../sass/partials/styleguide/type/_headings.scss */
h6 {
  font-size: 1em;
}

@media (min-width: 0) and (max-width: 37.5em) {
  /* line 9, ../sass/partials/styleguide/type/_headings.scss */
  h1 {
    font-size: 1.7em;
  }

  /* line 10, ../sass/partials/styleguide/type/_headings.scss */
  h2 {
    font-size: 1.4em;
  }

  /* line 11, ../sass/partials/styleguide/type/_headings.scss */
  h3 {
    font-size: 1.3em;
  }

  /* line 12, ../sass/partials/styleguide/type/_headings.scss */
  h4 {
    font-size: 1.3em;
  }

  /* line 13, ../sass/partials/styleguide/type/_headings.scss */
  h5 {
    font-size: 1.2em;
  }

  /* line 14, ../sass/partials/styleguide/type/_headings.scss */
  h6 {
    font-size: 1em;
  }
}
/* line 17, ../sass/partials/styleguide/type/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
  line-height: 1.3;
  color: #373737;
  font-family: "proxima-nova-condensed", sans-serif;
}

/* line 1, ../sass/partials/styleguide/type/_links.scss */
a {
  color: #0f7abd;
}
/* line 3, ../sass/partials/styleguide/type/_links.scss */
a:hover {
  color: #1398ec;
}
/* line 6, ../sass/partials/styleguide/type/_links.scss */
a:visited {
  color: #0b5b8e;
}

/* line 12, ../sass/partials/styleguide/type/_links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 18, ../sass/partials/styleguide/type/_links.scss */
div.btn {
  display: inline-block;
}
/* line 20, ../sass/partials/styleguide/type/_links.scss */
div.btn a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #373737;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  font-family: "proxima-nova-condensed", sans-serif;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 56, ../sass/partials/global/_mixins.scss */
div.btn a:hover {
  background-color: #323232;
}
/* line 27, ../sass/partials/styleguide/type/_links.scss */
div.btn a:hover {
  margin-top: -0.15em;
  margin: -0.15em 0 0.15em;
}

/* line 1, ../sass/partials/styleguide/media/_images.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 7, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 1em;
  font-size: 100%;
  font-family: "proxima-nova", serif;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  margin-bottom: .5em;
}
/* line 9, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="name"]:active, input[type="name"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="file"]:active, input[type="file"]:focus {
  border: 1px solid #373737;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 17, ../sass/partials/styleguide/forms/_inputs.scss */
.webform-component label {
  font-weight: bold;
}

/* line 21, ../sass/partials/styleguide/forms/_inputs.scss */
.form-checkboxes .form-item {
  display: inline-block;
}
/* line 23, ../sass/partials/styleguide/forms/_inputs.scss */
.form-checkboxes .form-item .option {
  margin-right: 1em;
  font-weight: normal;
}
/* line 26, ../sass/partials/styleguide/forms/_inputs.scss */
.form-checkboxes .form-item .option input {
  margin-right: .8em;
}

/* line 1, ../sass/partials/styleguide/forms/_textarea.scss */
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  font-size: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  font-family: "proxima-nova", serif;
}
/* line 9, ../sass/partials/styleguide/forms/_textarea.scss */
textarea:active, textarea:focus {
  border: 1px solid #373737;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_buttons.scss */
input[type="submit"] {
  background-color: #28b370;
  border: 1px solid #28b370;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 100%;
  font-family: "proxima-nova-condensed", sans-serif;
  display: inline-block;
  border-radius: 3px;
  padding: 10px 25px;
  font-weight: bold;
  font-size: .8em;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
}
/* line 56, ../sass/partials/global/_mixins.scss */
input[type="submit"]:hover {
  background-color: #26ab6b;
}

/* line 2, ../sass/partials/styleguide/forms/_label.scss */
form label {
  font-weight: normal;
  font-size: 110%;
  padding-bottom: .5em;
  display: inline-block;
  min-width: 55px;
}
/* line 10, ../sass/partials/styleguide/forms/_label.scss */
form .description {
  font-size: 85%;
  margin: 1em 0;
}

/* line 1, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset {
  border-radius: 3px;
  padding: 1em 1.5em;
}
/* line 5, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset .fieldset-legend a {
  text-decoration: none;
}

/* line 1, ../sass/partials/styleguide/misc/_table.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 5, ../sass/partials/styleguide/misc/_table.scss */
table tr {
  padding: 0;
}
/* line 7, ../sass/partials/styleguide/misc/_table.scss */
table tr.odd {
  background-color: #f7f7f7;
  border-bottom: 0;
}
/* line 11, ../sass/partials/styleguide/misc/_table.scss */
table tr.even {
  background-color: white;
  border-bottom: 0;
}
/* line 16, ../sass/partials/styleguide/misc/_table.scss */
table td {
  padding: 0.5em 2em;
  margin: 0;
}

/* line 24, ../sass/partials/styleguide/misc/_table.scss */
table.sticky-enabled thead th, table.sticky-header thead th {
  border-bottom: 3px solid #0f7abd;
  padding: 1em 0 1em 2em;
}

/* line 1, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager {
  margin: 1em 0 0;
  padding: 1em 0 0;
}
/* line 5, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li {
  display: inline-block;
  list-style: none;
  padding-right: .5em;
}

/* line 1, ../sass/partials/design/blocks/_header.scss */
.top-header-wrapper {
  padding: .5em 0;
  background: #363636;
  color: #fff;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: bold;
}
/* line 2, ../sass/partials/design/blocks/_header.scss */
.top-header-wrapper .left {
  text-align: left  !important;
}
/* line 10, ../sass/partials/design/blocks/_header.scss */
.top-header-wrapper a {
  color: #fff;
  text-decoration: none;
}

/* line 15, ../sass/partials/design/blocks/_header.scss */
.bottom-header-wrapper {
  padding: 2.5em 0;
  background: #fff;
}

/* line 19, ../sass/partials/design/blocks/_header.scss */
.title-header {
  text-align: center;
  padding: 4em 0;
  background: url("/assets/images/background.png") no-repeat center;
  background-size: cover;
}
/* line 25, ../sass/partials/design/blocks/_header.scss */
.title-header h1 {
  font-size: 2.5em;
  font-weight: normal;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* line 34, ../sass/partials/design/blocks/_header.scss */
a.six-steps-btn {
  padding: 1em 2em;
  color: #404040;
  border: solid 2px #404040;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
  font-family: "proxima-nova-condensed", sans-serif;
  font-weight: 600;
  -webkit-transition: all .5s ease-out;
          transition: all .5s ease-out;
}
/* line 46, ../sass/partials/design/blocks/_header.scss */
a.six-steps-btn:hover {
  color: #fff;
  background: #404040;
  -webkit-transition: all .3s  ease-in;
          transition: all .3s  ease-in;
}

/* line 2, ../sass/partials/design/blocks/_logo.scss */
.logo img {
  display: block;
  margin: 0 auto 0 auto;
}
@media (min-width: 50em) {
  /* line 2, ../sass/partials/design/blocks/_logo.scss */
  .logo img {
    margin: 0;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo img {
  margin: 0;
}
/* line 9, ../sass/partials/design/blocks/_logo.scss */
.logo .fee-only {
  color: #007D6C;
  margin-left: 3.5em;
}

/* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
.menu {
  padding: 0;
  margin: 0;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu {
    text-align: right;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu {
  text-align: right;
}
/* line 7, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li {
  list-style: none;
  margin: 0;
  display: block;
  padding: 0;
}
@media (min-width: 50em) {
  /* line 7, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li {
    display: inline-block;
    line-height: 1em;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li {
  display: inline-block;
  line-height: 1em;
}
/* line 16, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a {
  font-weight: 600;
  font-size: 1em;
  -webkit-transition: color .5s ease;
          transition: color .5s ease;
  padding: .75em 1em;
  display: block;
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 50em) {
  /* line 16, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li a {
    margin-left: 1.5em;
    padding: 0;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li a {
  margin-left: 1.5em;
  padding: 0;
}
/* line 28, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:hover {
  color: #28b370;
}
/* line 31, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:active {
  top: 1px;
  position: relative;
}
/* line 37, ../sass/partials/design/blocks/_main-navigation.scss */
.menu a, .menu a:visited {
  text-decoration: none;
}

/* line 41, ../sass/partials/design/blocks/_main-navigation.scss */
.js .main-nav .menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease;
          transition: max-height .5s ease;
}
@media (min-width: 50em) {
  /* line 41, ../sass/partials/design/blocks/_main-navigation.scss */
  .js .main-nav .menu {
    max-height: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .js .main-nav .menu {
  max-height: none;
}
/* line 48, ../sass/partials/design/blocks/_main-navigation.scss */
.js .main-nav .menu.show {
  max-height: 500px;
}

/* line 52, ../sass/partials/design/blocks/_main-navigation.scss */
.js .menu-btn {
  padding: 1em;
  background: #373737;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}
@media (min-width: 50em) {
  /* line 52, ../sass/partials/design/blocks/_main-navigation.scss */
  .js .menu-btn {
    display: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .js .menu-btn {
  display: none;
}
/* line 63, ../sass/partials/design/blocks/_main-navigation.scss */
.js .menu-btn img {
  padding-right: .5em;
}

/* line 67, ../sass/partials/design/blocks/_main-navigation.scss */
.no-js .menu-btn {
  display: none;
}

/* line 1, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer {
  padding: 2em 0;
  font-family: "proxima-nova-condensed", sans-serif;
}
/* line 4, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer a {
  text-decoration: none;
  color: #28b370;
  -webkit-transition: all .3s  ease-in;
          transition: all .3s  ease-in;
}
/* line 8, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer a:hover {
  color: #3d3d3d;
  -webkit-transition: all .3s  ease-in;
          transition: all .3s  ease-in;
}
/* line 13, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer .left {
  text-align: left;
}
@media (min-width: 50em) {
  /* line 13, ../sass/partials/design/blocks/_footer.scss */
  footer.site-footer .left {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq footer.site-footer .left {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 19, ../sass/partials/design/blocks/_footer.scss */
  footer.site-footer .right {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: right;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq footer.site-footer .right {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  text-align: right;
}
/* line 24, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer .right ul.menu {
  margin-bottom: .8em;
}
/* line 26, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer .right ul.menu li a {
  font-weight: normal;
  color: #28b370;
  -webkit-transition: all .3s  ease-in;
          transition: all .3s  ease-in;
}
/* line 30, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer .right ul.menu li a:hover {
  color: #3d3d3d;
  -webkit-transition: all .3s  ease-in;
          transition: all .3s  ease-in;
}
/* line 36, ../sass/partials/design/blocks/_footer.scss */
footer.site-footer .right .bottom p {
  margin-bottom: 1em;
}

/* line 1, ../sass/partials/design/blocks/_buttons.scss */
a.btn {
  background-image: -webkit-linear-gradient(225deg, #2cb671 0%, #006658 100%);
  background-image: linear-gradient(-135deg, #2cb671 0%, #006658 100%);
  -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  padding: 2em 4em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

/* line 17, ../sass/partials/design/blocks/_buttons.scss */
.center {
  text-align: center;
  margin: 3em 0;
}

/* line 21, ../sass/partials/design/blocks/_buttons.scss */
.sidebar-btn {
  margin: 5em 0 1em 0;
}
/* line 22, ../sass/partials/design/blocks/_buttons.scss */
.sidebar-btn a.btn {
  display: block;
  padding: 1em 4em;
}

/* line 1, ../sass/partials/design/blocks/_paginator.scss */
ul.pager {
  /*
  padding: 1em 2em;
  color: #404040;
  border: solid 2px #404040;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 3em;
  font-family: $heading-font-family;
  font-weight: 600;
  transition: all .5s ease-out;
  &:hover {
      color: #fff;
      background: #404040;
      transition: all .3s  ease-in;
  }
  */
}
/* line 3, ../sass/partials/design/blocks/_paginator.scss */
ul.pager li {
  padding-bottom: 1em;
}
/* line 5, ../sass/partials/design/blocks/_paginator.scss */
ul.pager li a {
  border: solid 2px #404040;
  color: #404040;
  text-decoration: none;
  border-radius: 3px;
  font-family: "futura-pt", sans-serif;
  padding: 0.75em 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  -webkit-transition: all .5s, -webkit-transform .5s ease-out;
          transition: all .5s, transform .5s ease-out;
}
/* line 18, ../sass/partials/design/blocks/_paginator.scss */
ul.pager li a:hover {
  color: #fff;
  background: #404040;
  -webkit-transition: all .5s, -webkit-transform .5s ease-out;
          transition: all .5s, transform .5s ease-out;
}
@media (min-width: 50em) {
  /* line 45, ../sass/partials/design/blocks/_paginator.scss */
  ul.pager .left {
    width: 50%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq ul.pager .left {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 51, ../sass/partials/design/blocks/_paginator.scss */
  ul.pager .right {
    width: 50%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: right;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq ul.pager .right {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  text-align: right;
}

/* line 2, ../sass/partials/design/pages/_front.scss */
.front .title-header {
  height: 520px;
}
/* line 5, ../sass/partials/design/pages/_front.scss */
.front .front-video {
  text-align: center;
  margin-top: -350px;
}
/* line 8, ../sass/partials/design/pages/_front.scss */
.front .front-video iframe {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
/* line 13, ../sass/partials/design/pages/_front.scss */
.front .home.wrap {
  width: 900px;
  padding: 2em 0;
}
/* line 17, ../sass/partials/design/pages/_front.scss */
.front .left {
  text-align: center;
}
@media (min-width: 50em) {
  /* line 17, ../sass/partials/design/pages/_front.scss */
  .front .left {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front .left {
  width: 48.93617%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 23, ../sass/partials/design/pages/_front.scss */
.front .right {
  text-align: center;
}
@media (min-width: 50em) {
  /* line 23, ../sass/partials/design/pages/_front.scss */
  .front .right {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front .right {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 2, ../sass/partials/design/pages/_step.scss */
.step-detail-node h3 {
  border-left: 4px solid #28b370;
  padding-left: 1em;
}

/* line 7, ../sass/partials/design/pages/_step.scss */
.title-header.step {
  text-align: center;
  padding: 15em 0;
  position: relative;
}

/* line 14, ../sass/partials/design/pages/_step.scss */
.pagetitle.step {
  font-size: 2.5em;
  font-weight: 400;
  color: #fff;
  padding: 0;
  display: block;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  width: 100%;
  padding: 1em 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(39, 39, 39, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 0.9) 100%);
}

@-webkit-keyframes yellow-fade {
  /* line 3, ../sass/partials/design/pages/_faq.scss */
  0% {
    background: lightgoldenrodyellow;
  }

  /* line 4, ../sass/partials/design/pages/_faq.scss */
  100% {
    background: none;
  }
}

@keyframes yellow-fade {
  /* line 3, ../sass/partials/design/pages/_faq.scss */
  0% {
    background: lightgoldenrodyellow;
  }

  /* line 4, ../sass/partials/design/pages/_faq.scss */
  100% {
    background: none;
  }
}
/* line 7, ../sass/partials/design/pages/_faq.scss */
.toggle-inner.active {
  -webkit-animation: yellow-fade 2s ease-in 1;
  animation: yellow-fade 2s ease-in 1;
}

/* line 15, ../sass/partials/design/pages/_faq.scss */
.toggle:last-child {
  border-bottom: 1px solid #ededed;
}
/* line 18, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid #ededed;
  margin-bottom: 6px;
}
/* line 23, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title h3 {
  -webkit-transition: all .300s  ease-in;
          transition: all .300s  ease-in;
  color: #6d6d6d;
  font-size: 20px;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
}
/* line 32, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title.active h3 {
  -webkit-transition: all .300s  ease-in;
          transition: all .300s  ease-in;
  color: #000;
}
/* line 37, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-inner {
  padding: 7px 25px 10px;
  display: none;
  margin: -7px 0 6px;
}
/* line 41, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-inner div {
  max-width: 100%;
}
/* line 46, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title .title-name {
  display: block;
  padding: 25px 25px 14px;
}
/* line 51, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}
/* line 56, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title i {
  position: absolute;
  background: url("/assets/images/plus_minus.png") 0 -24px no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  margin: 20px;
  right: 0;
}
/* line 66, ../sass/partials/design/pages/_faq.scss */
.toggle .toggle-title.active i {
  background: url("/assets/images/plus_minus.png") 0 0 no-repeat;
}

/* line 1, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper {
  background: #ededed;
}

@media (min-width: 50em) {
  /* line 2, ../sass/partials/design/regions/_header.scss */
  .top-header-wrapper .left {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .top-header-wrapper .left {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 7, ../sass/partials/design/regions/_header.scss */
  .top-header-wrapper .right {
    width: 65.95745%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .top-header-wrapper .right {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

@media (min-width: 50em) {
  /* line 14, ../sass/partials/design/regions/_header.scss */
  .bottom-header-wrapper .left {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .bottom-header-wrapper .left {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 50em) {
  /* line 19, ../sass/partials/design/regions/_header.scss */
  .bottom-header-wrapper .right {
    width: 65.95745%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: right;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .bottom-header-wrapper .right {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  text-align: right;
}

/* line 1, ../sass/partials/design/regions/_main.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
/* line 13, ../../vendor/bundle/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../sass/partials/design/regions/_main.scss */
main {
  padding: 2em 0;
}
/* line 13, ../../vendor/bundle/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/partials/design/regions/_body.scss */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
/* line 5, ../sass/partials/design/regions/_body.scss */
html body {
  margin: 0;
  height: 100%;
  background: white;
  overflow-x: hidden;
}

/* line 13, ../sass/partials/design/regions/_body.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* line 19, ../sass/partials/design/regions/_body.scss */
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 13, ../../vendor/bundle/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../sass/partials/design/regions/_body.scss */
.site-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 30, ../sass/partials/design/regions/_body.scss */
aside,
footer,
header,
main,
section {
  display: block;
}

@media (min-width: 50em) {
  /* line 38, ../sass/partials/design/regions/_body.scss */
  .sidebar {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .sidebar {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

@media (min-width: 50em) {
  /* line 44, ../sass/partials/design/regions/_body.scss */
  .content-with-sidebar {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../vendor/bundle/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .content-with-sidebar {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 2, ../sass/partials/design/views/_team.scss */
.team-list .person {
  padding-bottom: 2em;
}
@media (min-width: 50em) {
  /* line 5, ../sass/partials/design/views/_team.scss */
  .team-list .person img {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 8, ../sass/partials/design/views/_team.scss */
  .team-list .person .info {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 5, ../sass/partials/design/views/_team.scss */
.no-mq .team-list .person img {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 8, ../sass/partials/design/views/_team.scss */
.no-mq .team-list .person .info {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 2, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item {
  padding-bottom: 2em;
}
/* line 6, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog h3 {
  margin-top: 0;
}
/* line 9, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog .person {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  border: 2px solid #373737;
}
/* line 16, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul {
  list-style: none;
  padding: 0;
}
/* line 19, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li {
  display: inline-block;
}
/* line 21, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li.tag-label {
  background: #373737;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: .8rem;
}
/* line 26, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li.tag-label a, .blog-wrapper .right-blog ul li.tag-label a:visited {
  color: #f1f1f1;
  text-decoration: none;
}
@media (min-width: 50em) {
  /* line 35, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .left-image {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 38, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .right-blog {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 35, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .left-image {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 38, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .right-blog {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
