.right-blog h3 {
    margin-bottom: .2em;
}
p.post-date {
    font-style: italic;
    color: #bfbfbf;
    padding: 0;
    margin: 0 0 1em 0;
}
p.date-blog {
    display: inline-block;
    float: right;
    color: #bfbfbf;
     font-style: italic;
}
p.back-to-blog {
    display: inline-block;
}