.front {
	.title-header {
		//height: 520px;
		padding: 2em 0;

		h3 {
			color: #fff;
			font-size: 2.5em;
			font-weight: 400;
		}

		a.btn {
			margin: 1em 0;
			display: inline-block;
			width: 100%;
		}

		.front-video {
			text-align: center;
			//margin-top: -350px;
			iframe {
				box-shadow: 0 0 5px 1px rgba(0,0,0,0.25);
			}
		}

		.left {
			text-align: center;
			@include breakpoint($bp-medium, $no-query: ".no-mq") {
				 @include grid-span(4,1);
				padding-top: 4em;
			}
		}

		.right {
			text-align: center;
			@include breakpoint($bp-medium, $no-query: ".no-mq") {
				 @include grid-span(8,5);
			}
		}
	}

	.home.wrap {
		width: 900px;
		padding: 2em 0;
	}
}
