html {
	box-sizing: border-box;
	height: 100%;

	body {
		margin: 0;
		height: 100%;
		background: $site-bg;
		overflow-x: hidden;
	}
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.wrap {
	@include clearfix;
	max-width: $container_width;
	margin: 0 auto;
}

.site-wrapper {
	margin: 0 auto;
	max-width: $container_width;
}

aside,
footer,
header,
main,
section {
	display: block;
}

.sidebar {
	@include breakpoint($bp-medium, $no-query: ".no-mq") {
		 @include grid-span(3,1);
	}
}

.content-with-sidebar {
	@include breakpoint($bp-medium, $no-query: ".no-mq") {
		 @include grid-span(9,4);
	}
}
