---
layout: default
---
<div class="title-header">
      <section class="wrap">
          <h1>
          <span class="left">Tax Efficent Investing</span>
          <span class="right">Financial Life Planning</span>
          </h1>
      </section>
</div>
<div class="front-video">
    <iframe src="https://player.vimeo.com/video/203910033" width="920" height="518" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<main>
  <section class="home wrap clearfix">
    {{content}}

  <span class="left"><a href="#" class="btn">Client Access</a></span>
  <span class="right"><a href="#" class="btn">Schedule Meeting</a></span>
  </section>
</main>
