---
layout: default
---
<div class="title-header">
      <section class="wrap">
            <div class="left">
                <h3 class="editable">Tax Efficient Investing</h3>
                <h3 class="editable">Financial Life Planning</h3>
                <a href="https://portal.panoramixweb.com/?advisorid=177" class="btn" target="_blank">Client Access</a>
                <a href="/schedule-a-meeting/" class="btn">Schedule Meeting</a>
            </div>
            <div class="right">
                <h1 class="editable">Fee Only Advisor, Brian Joyce CPA/CFP &reg;</h1>
                <div class="front-video">
                        <iframe src="https://player.vimeo.com/video/203910033" width="100%" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
      </section>
</div>

