---
layout: default
---
<div class="title-header">
      <section class="wrap">
          <h1 class="pagetitle">{{ page.title }}</h1>
      </section>
</div>
<main>
  <section class="wrap with-sidebar">
      <div class="content-with-sidebar">
          <div>{{ content }}</div>
      </div>
      <aside class="sidebar">
          <div class="sidebar-btn">
              <a href="/schedule-a-meeting/" class="btn">Schedule Meeting</a>
          </div>
          <img src="{{page.headshot_image}}" alt="{{page.title}}">
      </aside>
  </section>
</main>
